In [7]:
1+3

4

In [61]:
a = 1 
a

1

In [9]:
type(a)

int

In [10]:
sudh = 56

In [14]:
type(sudh)

int

In [15]:
type(print(sudh))

56

NoneType

In [22]:
b = 'sudhfsdf'

In [24]:
type(b)

str

In [25]:
b = 6.7

In [27]:
type(b)

float

In [29]:
b = True

In [31]:
type(b)

bool

In [36]:
True / False

ZeroDivisionError: division by zero

In [46]:
c = 7 - 8j

In [47]:
type(c)

complex

In [48]:
c

(7-8j)

In [49]:
c.real

7.0

In [50]:
c.imag

-8.0

In [51]:
c.conjugate()

(7+8j)

In [55]:
s = 'sudhanshu kumar'

In [56]:
type(s)

str

In [59]:
s[-1]

'r'

In [62]:
len(a)

TypeError: object of type 'int' has no len()

In [96]:
s = "sudhanshu "

In [81]:
s[-1]

' '

In [82]:
s[0:5:2]

'sda'

In [89]:
s[::1]

'sudhanshu '

In [91]:
s[0] = 'b'

TypeError: 'str' object does not support item assignment

In [93]:
s[0] = 'b'

TypeError: 'str' object does not support item assignment

In [94]:
s = "fdsfsdfs"

In [97]:
s

'sudhanshu '

In [98]:
a = []

In [102]:
type(a)
a

[]

In [100]:
b = list()

In [101]:
b

[]

In [104]:
v = [3,4,5,6,6,"sudh",5.67,True,9 + 8j]

In [105]:
v

[3, 4, 5, 6, 6, 'sudh', 5.67, True, (9+8j)]

In [106]:
v[::-1]

[(9+8j), True, 5.67, 'sudh', 6, 6, 5, 4, 3]

In [107]:
v[3:7:2]

[6, 'sudh']

In [108]:
v[-4]

'sudh'

In [109]:
v

[3, 4, 5, 6, 6, 'sudh', 5.67, True, (9+8j)]

In [111]:
v[0] = "fsafdsaf"

In [112]:
v

['fsafdsaf', 4, 5, 6, 6, 'sudh', 5.67, True, (9+8j)]

## Print

- Python’s print() function comes with a parameter called ‘end’. By default, the value of this parameter is ‘\n’, i.e. the new line character. You can end a print statement with any character/string using this parameter.

In [2]:
# ends the output with a <space>  
print("Welcome to" , end = ' ')  
print("iNeuron", end = ' ')

Welcome to iNeuron

In [3]:
# With out space
print('A','B','C', sep='') 
  
#for formatting a date 
print('20','04','2020', sep='-') 
  
#another example 
print('Thanga','Raj', sep='@')

ABC
20-04-2020
Thanga@Raj

In [31]:
print(list(range(0)))
print(list(range(1)))
print(list(range(2)))
print(list(range(1,2)))

[]
[0]
[0, 1]
[1]

In [79]:
# Print the given number forward pattern
rows = 6
for row in range(1,rows+1):
    for i in range(row):
        print(row, end=" ")  # print outer loop number # Here end will help the print the for loop content in the same line
          #line after each row to display pattern correctly
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [39]:
# Print the given number forward pattern incremental form with zero
rows = 6
for row in range(rows):
    for i in range(row):
        print(i, end=" ")  # print inner number
          # line after each row to display pattern correctly
    print(" ")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [43]:
# Print the given number forward pattern incremental form without zero
rows = 6
for row in range(1,rows+1):
    for i in range(1,row+1):
        print(i, end=" ")  # print inner loop with out 0 number
          # line after each row to display pattern correctly
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [45]:
# Print the given number reverse pattern incremental form without zero
rows = 6
for row in range(rows,0,-1):
    for i in range(row):
        print(row, end=" ")  # print outer loop reverse number
          # line after each row to display pattern correctly
    print(" ")

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [60]:
# Print the given number reverse pattern same number repeated
rows = 6
for row in range(rows,0,-1):
    for i in range(row):
        print(rows, end=" ")  # print given  same number reverse order
          # line after each row to display pattern correctly
    print(" ")

6 6 6 6 6 6
6 6 6 6 6
6 6 6 6
6 6 6
6 6
6

In [70]:
# # Print the given number reverse pattern number in count increase , pattern decrease
rows = 6
print_value = 1
for row in range(rows,0,-1):
    for i in range(row):
        print(print_value, end=" ")  
    print_value = print_value+1
          # line after each row to display pattern correctly
    print(" ")

1 1 1 1 1 1
2 2 2 2 2
3 3 3 3
4 4 4
5 5
6

In [73]:
rows = 6
for row in range(1, rows): # Forward loop
    for column in range(row, 0, -1): # Take inner loop as reverse
            print(column, end=' ')
    print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [82]:
# Combined pattern
# Print the given row number pattern in forward and reverse.
rows = 5
for row in range(1,rows+1):
    for i in range(row):
        print('*', end=" ")  # print outer loop number # Here end command helps to print the for loop content in the same line
    print(" ") #  #line after each row to display pattern correctly
for row in range(rows+1,0,-1):
    for i in range(row):
        print('*', end=" ")  # print outer loop number reverse order # Here end command helps to print the for loop content in the same line
    print(" ") # #line after each row to display pattern correctly

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

##  <font  color='red'>Remaining all pattern refer https://pynative.com/print-pattern-python-examples/ </font>