Reference:https://stackoverflow.com/questions/55367827/how-to-scrape-options-from-dropdown-list-and-store-them-in-table

In [2]:
import requests
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as uReq
import pymongo
from selenium import webdriver

In [6]:
def getOptions(make):  #function to return options based on make
    data = {
             'search[filter_enum_make]': make,
             'search[dist]' : '5',
             'search[category_id]' : '29'
            }

    r = requests.post('https://www.otomoto.pl/ajax/search/list/', data = data)   
    try:
        # verify the regex here: https://regex101.com/r/emvqXs/1
        data = re.search(r'"filter_enum_model":(.*),"new_used"', r.text ,flags=re.DOTALL).group(1) #regex to extract the string containing the models associated with the car make filter 
        aDict = ast.literal_eval(data) #convert string representation of dictionary to python dictionary
        d = len({k.lower(): v for k, v in aDict.items()}.keys()) #find length of unique keys when accounting for case
        dirtyList = list(aDict)[:d] #trim to unique values
        cleanedList = [item for item in dirtyList if item != 'other' ] #remove 'other' as doesn't appear in dropdown
    except:
        cleanedList = [] # sometimes there are no associated values in 2nd dropdown
    return cleanedList

r = requests.get('https://www.otomoto.pl/osobowe/')
soup = bs(r.content, 'lxml')
values = [item['value'] for item in soup.select('#param571 option') if item['value'] != '']

results = {}
# build a dictionary of lists to hold options for each make
for value in values:
    results[value] = getOptions(value) #function call to return options based on make

# turn into a dataframe and transpose so each column header is the make and the options are listed below
df = pd.DataFrame.from_dict(results,orient='index').transpose()
#write to csv
df.to_csv(r'C:\MachineLearning\iNeuron_ML\Week9\ImageScrapper\Data.csv', sep=',', encoding='utf-8-sig',index = False )

In [4]:
import requests
import json
import pandas as pd

r = requests.get('https://www.otomoto.pl/ajax/jsdata/params/')
data = r.text.split('var searchConditions = ')[1]
data = data.split(';var searchCondition')[0]
items = json.loads(data)
source = items['values']['573']['571']
makes = [item for item in source]

results = {}

for make in makes:
    df = pd.DataFrame(source[make]) ## build a dictionary of lists to hold options for each make
    results[make]  = list(df['value'])

dfFinal = pd.DataFrame.from_dict(results,orient='index').transpose()  # turn into a dataframe and transpose so each column header is the make and the options are listed below

mask = dfFinal.applymap(lambda x: x is None) #tidy up None values to empty strings https://stackoverflow.com/a/31295814/6241235
cols = dfFinal.columns[(mask).any()]

for col in dfFinal[cols]:
    dfFinal.loc[mask[col], col] = ''
print(dfFinal)

          abarth    acura      aixam  alfa-romeo alpine aston-martin  \
0            124       CL       A721         145   A110         DB11
1            500  Integra       A741         146                 DB7
2            595   Legend       City         147                 DB9
3            695      MDX      Coupe         155                Inny
4   Grande Punto     Inny  Crossline         156              Rapide
5           Inny      RDX  Crossover         159          V8 Vantage
6                      RL        GTO         166             Vantage
7                      TL       Inny          4C
8                     TSX   Roadline          4C
9                     ZDX     Scouty          75
10                          Scouty R          90
11                                         Brera
12                                    Crosswagon
13                                        Giulia
14                                     Giulietta
15                                            GT
16                                           GTV
17                                          Mito
18                                          Inny
19                                        Spider
20                                    Sportwagon
21                                       Stelvio
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

          audi   austin autobianchi   bac  ... vanderhall  vauxhall  \
0          100  Allegro   Bianchina  Mono  ...  Speedster     Astra
1          200     Inny                    ...             Frontera
2           80                             ...                Omega
3           90                             ...                 Inny
4           A1                             ...               Vectra
5           A2                             ...               Vivaro
6           A3                             ...
7           A4                             ...
8   A4 Allroad                             ...
9           A5                             ...
10          A6                             ...
11  A6 Allroad                             ...
12          A7                             ...
13          A8                             ...
14   Cabriolet                             ...
15       Coupe                             ...
16      e-tron                             ...
17        Inny                             ...
18          Q2                             ...
19          Q3                             ...
20          Q5                             ...
21          Q7                             ...
22          Q8                             ...
23     Quattro                             ...
24          R8                             ...
25       RS Q3                             ...
26       RS Q8                             ...
27         RS3                             ...
28         RS4                             ...
29         RS5                             ...
30         RS6                             ...
31         RS7                             ...
32          S1                             ...
33          S2                             ...
34          S3                             ...
35          S4                             ...
36          S5                             ...
37          S6                             ...
38          S7                             ...
39          S8                             ...
40         SQ2                             ...
41         SQ5                             ...
42         SQ7                             ...
43         SQ8                             ...
44          TT                             ...
45       TT RS                             ...
46        TT S                             ...
47                                         ...
48                                         ...
49                                         ...
50                                         ...
51                                         ...
52                                         ...
53                                         ...
54                                         ...
55                                         ...

         volkswagen      volvo warszawa wartburg   wolga zaporozec zastawa  \
0            Amarok        262      203      1.3  GAZ-21       965    1100
1            Arteon        744      204      311  GAZ-24       968     750
2             Atlas        850      223      312    Inny      Inny    Inny
3            Beetle        855      224      353
4              Bora        945     M-20     Inny
5             Buggy        965     Inny
6             Caddy        C30
7        California        C70
8         Caravelle       Inny
9                CC        S40
10          Crafter        S60
11              Eos        S70
12              Fox        S80
13           Garbus        S90
14             Golf  Seria 200
15        Golf Plus  Seria 400
16   Golf Sportsvan  Seria 700
17             ID.3  Seria 900
18            Jetta        V40
19            Kafer        V50
20     Karmann Ghia        V60
21               LT        V70
22             Lupo        V90
23         Multivan      XC 40
24       New Beetle      XC 60
25             Inny      XC 70
26           Passat      XC 90
27        Passat CC
28          Phaeton
29             Polo
30           Routan
31         Scirocco
32           Sharan
33          T-Cross
34            T-Roc
35         Teramont
36           Tiguan
37  Tiguan Allspace
38          Touareg
39           Touran
40      Transporter
41              up!
42            Vento
43
44
45
46
47
48
49
50
51
52
53
54
55

     zuk
0   Inny
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

[56 rows x 106 columns]